@{ Layout = null; }
<section class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" id="msg" />
            <input type="button" id="send" value="Send" />
            <input type="hidden" id="chat-username" value="@ViewBag.Username" />
            <input type="hidden" id="chat-group" value="@ViewBag.Group"/>
            <ul id="messages">

            </ul>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
<script src="~/SignalR/hubs"></script>
<script>

    $(function () {
        // Proxy created on the fly
        var chat = $.connection.chatHub;

        // Declare a function on the chat hub so the server can invoke it
        chat.client.Send = function (name, message) {
            var encodedName = $('<div />').text(name).html();
            var encodedMsg = $('<div />').text(message).html();
            $('#messages').append('<li>' + encodedName +
                ':  ' + encodedMsg + '</li>');
        };
        
        chat.client.broadcastGroupMessage = function (username, message, servertime) {
            var encodedMsg = $('<div />').text(message).html();
            var messageHtml = '<li> <span style="font-size:10px">{{servertime}}</span> <strong>{{username}}: </strong>{{message}}</li>';
            messageHtml = messageHtml.replace('{{servertime}}', servertime);
            messageHtml = messageHtml.replace('{{username}}', username);
            messageHtml = messageHtml.replace('{{message}}', message);
            $('#messages').append(messageHtml);
        }

        // Start the connection
        $.connection.hub.start().done(function () {
            var groupname = '';
            var username = '';

            username = $('#chat-username').val();
            groupname = $('#chat-group').val();

            chat.server.setGroupChat(groupname);


            $("#send").click(function () {
                // Call the chat method on the server
                chat.server.sendToGroup(groupname, username, $('#msg').val());
            });
        });

    });
</script>